modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["unzip", "sqlite"]

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "gce"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_openai:1.0.0"]

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BJCHihWaC5YGeLdqj-oNNBeGzPKwv2Tlsozyyu4CskqsP7ruJsjmGIRBpzWyW4wcRIyoxDvaHn_Yo4OL2gP1y8s"
VAPID_PRIVATE_KEY = "nL5CGVIvTluWvXyHlV4lmmEzi0K-8JQd-4_2Cp6tbKY"
